$infoColor: #3adb76;
$warningColor: #ffae00;
$errorColor: #cc4b37;

@keyframes barFadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    max-height: 9999px;
  }
}

.messageBar {
    width: 240px;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px;
    background-color: #fff;
    animation: barFadeIn 4s ease-in-out;
    transform-origin: top;

    .message-header {
        &>p {
          border: 2px solid;
          border-radius: 9px;
          display: inline-block;
          margin: 0;
          font-weight: bold;
          padding: 4px;
        }

        &.info>p {
            border-color: $infoColor;
            color: $infoColor;
        }

        &.warning>p {
            border-color: $warningColor;
            color: $warningColor;
        }

        &.error>p {
            border-color: $errorColor;
            color: $errorColor;
        }

        i.close {
            display: inline-block;
            transform: rotate(39deg) translateY(-8px);
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            float: right;
            color: grey;
            padding-right: 3px;

            &:hover {
                color: #000;
            }
        }
    }
    &>article {
      padding-left: 2px;
      margin-top: 10px;
      color: #898989;
    }
}
